.container {
    background-color: rgb(83, 15, 15);
    box-shadow: 0px 0px 10px 5px rgba(204, 0, 0, 0.5);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:20px;
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;
    padding: 1%;
    align-content: center;
    height: 100%;
  }

  
  @media screen and (min-width: 100px) {
    .container {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  
  @media screen and (min-width: 700px) {
    .container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media screen and (min-width: 800px) {
    .container {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  .link{
      text-decoration-line: none;
  }

  .div{ 
    background-image: linear-gradient(to right,rgb(83, 15, 15), rgb(49, 12, 25) 70%);
}

.title {
    box-shadow: 0px 0px 10px 0px rgba(204, 0, 0, 0.5); 
    padding:2%;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    text-transform: uppercase;
    color: gainsboro;
}

  
  